{$APP_DOMAIN:localhost} {
	encode zstd gzip

	handle /api/* {
		reverse_proxy backend:8080
	}

	handle /auth/* {
		reverse_proxy backend:8080
	}

	handle /games/* {
		reverse_proxy backend:8080
	}

	handle /emoji/* {
		reverse_proxy backend:8080
	}

	handle /debug/* {
		reverse_proxy backend:8080
	}

	handle /ws* {
		reverse_proxy backend:8080
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
